.DS_Store

### Xcode Patch ###
watchApp/watchApp.xcodeproj/*
watchApp/watchApp.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

## Playgrounds
timeline.xctimeline
playground.xcworkspace

xcuserdata/
*.pbxuser
build/
watchApp/watchApp/keys.swift
*Pods/*
*keys.swift

railsapp/app/assets/api.json
railsapp/.idea/workspace.xml


