.DS_Store

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

## Playgrounds
timeline.xctimeline
playground.xcworkspace

xcuserdata/
*.pbxuser
build/


