
<head>
    <meta charset="utf-8">
    <title>Fuck Rails</title>
    
  </head>
  <body>

    <h1>Rails can fuck itself
        <br/><small><em>User App</em></small>
    </h1>


    <!-- add user module -->
    <section id="add-user-module" >
        <button id="open-add-user-form-btn">+</button>
        <form>
            <h2>Add User</h2>
            name:<br>
            <input type='text' data-key='name' class='user-input'><br>
            sender_id:<br>
            <input type='text' data-key='sender_id' class='user-input'><br>
            text:<br>
            <input type='text' data-key='text' class='user-input'><br>
            <button type='button' id="add-user-btn">add user</button>
        </form>
    </section>

    <!-- edit user module -->
    <section id="edit-user-module">
        <form>
            <h2>Edit user</h2>
            <input type="hidden" class="edit-userid">
            name:<br>
            <input type='text' data-key='name' class='edit-user-input'><br>
            sender_id:<br>
            <input type='text' data-key='sender_id' class='edit-user-input'><br>
            text:<br>
            <input type='text' data-key='text' class='edit-user-input'><br>
            <button type='button' id="edit-user-btn">save</button>
        </form>
    </section>


    <!-- show user module -->
    <ul id="user-list"></ul>
    <div id="user-detail"></div>
    <p id="user-list-once">
    </p>

  </body>
